@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
  margin: 0;
  background-color: #000100;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.haine{
  background-color: #000100!important;
  height:56.25vw!important;
  width:100vw!important;
  max-width: 1440px;
  max-height: 810px;
  margin: 0 auto!important;
  position: static;
}
.haine.hidden {
  position: absolute;
  left: -9999px;
}
.loading {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%);
}